.toastContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: 7px;
  color: #fff;
  z-index: 99999;

  .toastIcon {
    margin-right: 10px;
  }

  .closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.success {
  background: #4ade80;
  box-shadow: 0 0 5px rgba(#4ade80, 0.8);
  border: 1px solid #fff;
}

.error {
  background: #dc2626;
  box-shadow: 0 0 5px rgba(#dc2626, 0.8);
  border: 1px solid #fff;
}

.warning {
  background: #fde047;
  box-shadow: 0 0 5px rgba(#fde047, 0.8);
  border: 1px solid #fff;
}

.info {
  background: #7dd3fc;
  box-shadow: 0 0 5px rgba(#7dd3fc, 0.8);
  border: 1px solid #fff;
}

.defaultPosition {
  top: 10px;
  left: -100%;
  animation: leftAnimation linear;
}

.topCenterPosition {
  top: 10px;
  left: 50%;
  right: 50%;
}

.topRightPosition {
  top: 10px;
  right: -100%;
  animation: rightAnimation linear;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centerLeftPosition {
  top: 50%;
  left: -100%;
  animation: leftAnimation linear;
}

.centerRightPosition {
  top: 50%;
  right: -100%;
  animation: rightAnimation linear;
}

.bottomLeftPosition {
  bottom: 10px;
  left: -100%;
  animation: leftAnimation linear;
}

.bottomCenterPosition {
  bottom: 10px;
  left: 50%;
  right: 50%;
}

.bottomRightPosition {
  bottom: 10px;
  right: -100%;
  animation: rightAnimation linear;
}

@keyframes rightAnimation {
  0% {
    right: -100%;
  }
  10% {
    right: 10px;
  }
  50% {
    right: 10px;
  }
  80% {
    right: 13px;
  }
  100% {
    right: -100%;
  }
}

@keyframes leftAnimation {
  0% {
    left: -100%;
  }
  10% {
    left: 10px;
  }
  50% {
    right: 10px;
  }
  80% {
    left: 13px;
  }
  100% {
    left: -100%;
  }
}
