html {
  direction: rtl;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;

.flex-center{
  @apply flex justify-center items-center;
}

.flex-between{
  @apply flex justify-between items-center;
}

.layoutPadding{
  @apply px-5 py-7;
}

.main{
  min-height: calc(100vh - 252px);
  @apply p-5;
}

.layoutContentPadding{
  @apply px-3 py-1 md:px-5 md:py-3;
}

.text{
  @apply text-sm md:text-base lg:text-lg
}

.homePageButton{
  @apply text px-10 py-2 mr-16 border border-purple-300 rounded-md hover:bg-purple-400 hover:text-white transition-all;
}

@tailwind utilities;
