html {
  direction: rtl;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;

.flex-center{
  @apply flex justify-center items-center;
}

.flex-between{
  @apply flex justify-between items-center;
}

.layoutPadding{
  @apply px-5 py-7;
}

@tailwind utilities;
